.bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.iconesite {
    height: 15vh;
    border-radius: 100%;
}
.cabecalho {
    box-shadow: 0px 0px 5px black;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-image: url(assets/cabecalho.png);
    display: flex;
    background:linear-gradient(160deg, #534f45 11%, #2D2E2E 35% 80%,#944b29 95% 100%)
}
.menubtn{
    position: fixed;
    min-width: 15.5vh;
    max-width: 15.5vh;
    text-align: center;
    padding: 1vh 0vh;
    background: linear-gradient(45deg,#DFD8C6 0% 5%,#2D2E2E 20% 50% ,#C76436 55% 55%, #2D2E2E 60% 80%, #DFD8C6 95% 100%);
    background-size: 400% 100%;
    color: #DFD8C6;
    z-index: 1000;
}
.menubtn:hover {
    background: linear-gradient(45deg,#DFD8C6 0% 5%, #2D2E2E 20% 50% , #C76436 55% 55%, #2D2E2E 60% 80%, #DFD8C6 95% 100%);
    animation: degrade 7s linear infinite;
    animation-delay: 0.2s;
    background-size: 400% 100%;
}
@keyframes degrade {
    0% {
        background-position-x:0%;
    }
    100% { 
        background-position: 400%;
    }
}
.menubtn:hover .menuesq{
    display: block;
}
.menuesq {
    display: none;
    margin-top: 4vh;
    background-color: #DFD8C6;
    height: 85%;
    position: absolute;
    left:0;
    top: 0;
    z-index: 998;
    max-width: 15.5vh;
    min-width: 15.5vh;
}
.naveg {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.naveg a {
    text-decoration: none;
    color:#2D2E2E;
    font-family: "Bebas Neue";
    font-size:medium;
    margin: 0.5vh;
    padding: 0.5vh 0vh 0.5vh 0.5vh;
}
.naveg a:hover {
    background:linear-gradient(127deg, #494741, #2D2E2E 50%,#753b20 100%);
    color: #DFD8C5;
    border-radius: 1vh;
    padding: 0.7vh 0vh 0.7vh 0.7vh;
    transition: all 0.3s;
}
.not1 {
    width: 100%;
}
.titnot {
    color: #000000;
    text-decoration: none;
    margin: 1vh;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}
.noticia { 
    border-radius: 1px;
    border: 1px solid rgb(73, 73, 73);
    background-color: white;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.336);
}


h1 {
    color: #C76436;
    margin-left: 3vh;
    font-family: "BBH Sans Bartle";
    font-size: x-large;
    font-weight: 300;
}
main {
    z-index: 1;
    margin: 15.2vh 20vh 15.2vh 15.5vh;
}
body { 
    background-color: #DFD8C6;
}